body {
    font-family: sans-serif;
    margin: 0;
}

.topOfPage {
    padding-top: 56px;
    background-image: url('../image/background.png');
    background-position: center;
    background-size: cover;
    height: 80vh;
    color: white;
}

.topOfPage a {
    color: white;
    text-decoration: none;
}

.topOfPage__menu {
    display: flex;
    align-items: center;
}

.topOfPage__menu a {
    margin-right: 40px;
}

.topOfPage__social a {
    margin-left: 24px;
}

.topOfPage__content {
    max-width: 786px;
    margin: auto;
    margin-top: 119px;
}

.topOfPage h1 {
    font-weight: bold;
    font-size: 74px;
    line-height: 84px;
    /* or 114% */
    text-align: center;
    margin: 0;
}

.topOfPage p {
    font-size: 28px;
    line-height: 40px;
    /* or 143% */
    text-align: center;
    margin-top: 7px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    justify-content: space-between;
}